When you turn your device, the screen switches between portrait and landscape. But if you lie on your side, it's the wrong way around. Sideways Mode fixes this, so now you can turn your device to switch between portrait and landscape even while lying on your side. This is useful for reading, web browsing or watching videos in bed.

<b>Permissions</b>
• Modify system settings: To change screen orientation and system auto rotation
• Draw over other apps / display system-level alerts: To change incompatible apps' screen orientations
• Retrieve running apps / usage statistics: To detect incompatible apps
• Foreground service: To prevent Android from stopping this app while you're using it
• Run at startup: To show the controls notification when your phone turns on
• Notifications: To show the controls notification and information about the app
• Small app overlay (Sony users only): So you can use a small app to change screen orientation

<b>Source code</b>
Are you a software engineer? This project is open-source and needs a new maintainer. You can find the source code at https://gitlab.com/sampalmer/sideways-mode.
